<!DOCTYPE html>
<html>
<head>
    <title><%%= title %></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://g.tbcdn.cn/thx/cube/1.2.1/cube-min.css">
    <% if (mini == 'Y') { %> 
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no;address=no;email=no" />
    <meta name="mobileOptimized" content="width" />
    <meta name="handheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 引入seed -->
    <script src="http://g.tbcdn.cn/kissy/m/0.2.0/mini-full-min.js"></script>
    <% } else { %> 
    <!-- 引入seed -->
    <script src="http://g.tbcdn.cn/kissy/k/1.4.2/??seed-min.js,import-style-min.js" data-config="{combine:true}"></script>
    <% } %>
    
    <!--引入依赖表-->
    <script src="http://g.tbcdn.cn/tb/<%=name%>/1.0.0/deps-min.js?<%%= version %>"></script>

    <!-- 配置模块 -->
    <script>
        KISSY.config({
            packages: [
                {
                    tag : '<%%= version %>',
                    name: '<%=name%>',
                    base: 'http://g.tbcdn.cn/tb/<%=name%>/1.0.0',
                    ignorePackageNameInUri: true
                }
            ]}
        );
    </script>

    <%% if (cssfile) { %>
    <% if (mini == 'Y') { %>
    <!--引入样式-->
    <link rel="stylesheet" href="http://g.tbcdn.cn/tb/<%=name%>/1.0.0/<%%=cssifle%>-min.css" />
    <% } else { %> 
    <!--引入样式-->
    <script>
        KISSY.importStyle('<%=name%>/<%%=cssfile%>.css');
    </script>
    <% } %>
    <%% } %>
</head>
<body>